// Import minireset
@import "~minireset.css/minireset.sass";
// Import font config
@import "./fonts.scss";
//font-family: "Helvetica Neue", "Helvetica", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Arial", sans-serif;;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: white;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}

@media screen and (min-width: 1408px) {
  .container {
    max-width: 1344px;
  }
}
