// Import minireset
@import "~minireset.css/minireset.sass";
// Import font config
@import "./fonts.scss";
//font-family: "Helvetica Neue", "Helvetica", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Arial", sans-serif;;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}

body {
  color: #2f3540;
  background-color: white;
  display: flex;
  flex-direction: column;
  transition: background-color 750ms, color 750ms;
}

body.is-dark {
  background-color: #0d1f2b;
  color: #e2e8f0;

  h1, h2, h3, h4, h5, h6 {
    color: #f7fafc;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #1a202c;
}

h2.is-size-1 {
  font-size: 3rem;
}
h2.is-size-2 {
  font-size: 2.5rem;
}
h2.is-size-3 {
  font-size: 2rem;
}
h2.is-size-4 {
  font-size: 1.5rem;
}
h2.is-size-5 {
  font-size: 1.25rem;
}
h2.is-size-6 {
  font-size: 1.125rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.is-bold {
  font-weight: bold;
}

.is-undecorated {
  text-decoration: none;
}

strong {
  color: #1a202c;
  font-weight: 600;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.has-transition {
  transition-duration: .15s;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
}

.is-capitalized	 {
  text-transform: capitalize;
}

.is-link {
  color: #00cd81;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container {
    max-width: 1152px;
  }
}
